# Synthetical dataset

4 groups:
1. South Netherlands - high income (#2000)
2. South Netherlands - low income (#5000)
3. North Netherlands - high income (#2000)
4. North Netherlands - Low income (#1000)

Group 3 has a historical bias towards woman: They are classified as more frauduleus than man. This is because of the proxy value 'Occupation'. People with the occupation Teacher are classifier more as frauduleus in the north of netherlands when having a high income.

In [72]:
import pandas as pd

In [73]:
from numpy.random import \
    rand as np_rand, \
    choice as np_choice, \
    normal as np_normal, \
    seed as np_seed

from numpy import \
    vstack as np_vstack, \
    hstack as np_hstack, \
    transpose as np_transpose, \
    mean as np_mean
    

from sklearn.preprocessing import MinMaxScaler

def get_binary(lst, threshold):
    tmp = []
    for value in lst:
        if value >= 0:
            tmp.append(1)
        else:
            tmp.append(0)    
    return tmp
    

def get_samples_NL_HOOG(n_samples, seed=1102, include_hidden=False):

    np_seed(seed)
    
    # NL HOOG inkomen
    x0 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[1, 0])
    x1 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[1, 0])
    
    # beroep en aantal jaar in dienst
    x2 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    x3 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    
    # sensitieve attribuut
    s = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    
    # tranfsorm x2 tot proxy van sensitieve attribuut
    s1 = s*2 + x2
    tmp = s1
    s1 = []
    
    # for the proxy: if s and x are both 1, than very high chance of 0
    for element in tmp:
        if element == 4:
            ls_value = np_choice(a=[1, 0], size=1, replace=True, p=[0, 1])
            s1.append(ls_value[0])
        if element == 3:
            ls_value = np_choice(a=[1, 0], size=1, replace=True, p=[0.1, 0.9])
            s1.append(ls_value[0])
        if element == 2:
            ls_value = np_choice(a=[1, 0], size=1, replace=True, p=[0.5, 0.5])
            s1.append(ls_value[0])
        if element == 1:
            ls_value = np_choice(a=[1, 0], size=1, replace=True, p=[0.9, 0.1])
            s1.append(ls_value[0])  
        if element == 0:
            ls_value = np_choice(a=[1, 0], size=1, replace=True, p=[1, 0])
            s1.append(ls_value[0])
        
    # target value = y
    y = x1 + s1 + np_normal(0, 0.5, n_samples)
    y = (y > np_mean(y)) + 0

    # hidden is the proxy
    if include_hidden:
        X1 = np_transpose(np_vstack((x0, x1, s1, x3, y, s)))
    else:
        X1 = np_transpose(np_vstack((x0, x1, s1, x3, y, s)))
     
#     scaler = MinMaxScaler()
#     X = scaler.fit_transform(X1)
    X = X1
    
    X = pd.DataFrame(X, columns=['State', 'Income', 'Occupation', 'Time employed', 'Fraud', 'Gender'])  # 1st row as the column names
    return X

def get_samples_NL_LAAG(n_samples, seed=1103, include_hidden=False):

    np_seed(seed)
    
    # NL LAAG inkomen
    x0 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[1, 0])
    x1 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[0, 1])
    
    # beroep en aantal jaar in dienst
    x2 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    x3 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    
    # sensitieve attribuut
    s = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
        
    # target value = y
    y = x1 + x2 + np_normal(0, 0.5, n_samples)
    y = (y > np_mean(y)) + 0

    # hidden is the proxy
    if include_hidden:
        X1 = np_transpose(np_vstack((x0, x1, x2, x3, y, s)))
    else:
        X1 = np_transpose(np_vstack((x0, x1, x2, x3, y, s)))
        
#     scaler = MinMaxScaler()
#     X = scaler.fit_transform(X1)
    X = X1
    X = pd.DataFrame(X, columns=['State', 'Income', 'Occupation', 'Time employed', 'Fraud', 'Gender'])  # 1st row as the column names
    return X

def get_samples_ZN_HOOG(n_samples, seed=1104, include_hidden=False):

    np_seed(seed)
    
    # NL LAAG inkomen
    x0 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[0, 1])
    x1 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[1, 0])
    
    # beroep en aantal jaar in dienst
    x2 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    x3 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    
    # sensitieve attribuut
    s = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
        
    # target value = y
    y = x1 + x2 + np_normal(0, 0.5, n_samples)
    y = (y > np_mean(y)) + 0

    # hidden is the proxy
    if include_hidden:
        X1 = np_transpose(np_vstack((x0, x1, x2, x3, y, s)))
    else:
        X1 = np_transpose(np_vstack((x0, x1, x2, x3, y, s)))
     
      
#     scaler = MinMaxScaler()
#     X = scaler.fit_transform(X1)
    X = X1
    
    X = pd.DataFrame(X, columns=['State', 'Income', 'Occupation', 'Time employed', 'Fraud', 'Gender'])  # 1st row as the column names
    return X

def get_samples_ZN_LAAG(n_samples, seed=1105, include_hidden=False):

    np_seed(seed)
    
    # NL LAAG inkomen
    x0 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[0, 1])
    x1 = np_choice(a=[0, 1], size=n_samples, replace=True, p=[0, 1])
    
    # beroep en aantal jaar in dienst
    x2 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    x3 = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
    
    # sensitieve attribuut
    s = np_choice(a=[0,1], size=n_samples, replace=True, p=[0.5, 0.5])
        
    # target value = y
    y = x1 + x2 + np_normal(0, 0.5, n_samples)
    y = (y > np_mean(y)) + 0

    # hidden is the proxy
    if include_hidden:
        X1 = np_transpose(np_vstack((x0, x1, x2, x3, y, s)))
    else:
        X1 = np_transpose(np_vstack((x0, x1, x2, x3, y, s)))
     
#     scaler = MinMaxScaler()
#     X = scaler.fit_transform(X1)
    X = X1
    
    X = pd.DataFrame(X, columns=['State', 'Income', 'Occupation', 'Time employed', 'Fraud', 'Gender'])  # 1st row as the column names
    return X

In [74]:
df = get_samples_ZN_LAAG(5000)
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 1)).sum()
print('Mannen fraude:', count_both_ones/(df['Gender'] == 1).sum())
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 0)).sum()
print('Vrouwen fraude:', count_both_ones/(df['Gender'] == 0).sum())

Mannen fraude: 0.5127490039840638
Vrouwen fraude: 0.5028112449799197

In [75]:
df_ZN_LAAG = df
df_new = pd.DataFrame([2 for value in range(0, len(df_ZN_LAAG))], columns=['Group'])
df_ZN_LAAG = pd.concat([df_ZN_LAAG, df_new], axis=1)
df_ZN_LAAG

      State  Income  Occupation  Time employed  Fraud  Gender  Group
0         1       1           1              0      1       0      2
1         1       1           1              1      1       1      2
2         1       1           0              1      0       1      2
3         1       1           1              0      1       1      2
4         1       1           1              1      1       0      2
...     ...     ...         ...            ...    ...     ...    ...
4995      1       1           0              1      0       1      2
4996      1       1           1              1      1       0      2
4997      1       1           1              1      1       1      2
4998      1       1           1              1      1       1      2
4999      1       1           1              1      1       0      2

[5000 rows x 7 columns]

In [76]:
df = get_samples_ZN_HOOG(2000)
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 1)).sum()
print('Mannen fraude:', count_both_ones/(df['Gender'] == 1).sum())
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 0)).sum()
print('Vrouwen fraude:', count_both_ones/(df['Gender'] == 0).sum())

Mannen fraude: 0.4928571428571429
Vrouwen fraude: 0.5068627450980392

In [77]:
df_ZN_HOOG = df
df_new = pd.DataFrame([1 for value in range(0, len(df_ZN_HOOG))], columns=['Group'])
df_ZN_HOOG = pd.concat([df_ZN_HOOG, df_new], axis=1)
df_ZN_HOOG

      State  Income  Occupation  Time employed  Fraud  Gender  Group
0         1       0           0              1      0       1      1
1         1       0           0              1      0       0      1
2         1       0           1              0      1       0      1
3         1       0           1              0      1       1      1
4         1       0           1              1      0       0      1
...     ...     ...         ...            ...    ...     ...    ...
1995      1       0           0              1      0       0      1
1996      1       0           1              1      1       1      1
1997      1       0           0              1      0       1      1
1998      1       0           1              0      1       0      1
1999      1       0           0              0      0       0      1

[2000 rows x 7 columns]

In [78]:
df = get_samples_NL_HOOG(2000)
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 1)).sum()
print('Mannen fraude:', count_both_ones/(df['Gender'] == 1).sum())
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 0)).sum()
print('Vrouwen fraude:', count_both_ones/(df['Gender'] == 0).sum())

Mannen fraude: 0.3212890625
Vrouwen fraude: 0.7366803278688525

In [79]:
df_NL_HOOG = df
df_new = pd.DataFrame([3 for value in range(0, len(df_NL_HOOG))], columns=['Group'])
df_NL_HOOG = pd.concat([df_NL_HOOG, df_new], axis=1)
df_NL_HOOG

      State  Income  Occupation  Time employed  Fraud  Gender  Group
0         0       0           1              1      1       1      3
1         0       0           1              0      1       0      3
2         0       0           1              0      1       0      3
3         0       0           1              0      1       0      3
4         0       0           1              1      1       0      3
...     ...     ...         ...            ...    ...     ...    ...
1995      0       0           1              0      0       0      3
1996      0       0           1              0      0       0      3
1997      0       0           1              1      0       0      3
1998      0       0           1              0      1       0      3
1999      0       0           1              0      0       0      3

[2000 rows x 7 columns]

In [80]:
df = get_samples_NL_LAAG(1000)
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 1)).sum()
print('Mannen fraude:', count_both_ones/(df['Gender'] == 1).sum())
count_both_ones = ((df['Fraud'] == 1) & (df['Gender'] == 0)).sum()
print('Vrouwen fraude:', count_both_ones/(df['Gender'] == 0).sum())

Mannen fraude: 0.5069033530571992
Vrouwen fraude: 0.4969574036511156

In [81]:
df_NL_LAAG = df
df_new = pd.DataFrame([4 for value in range(0, len(df_NL_LAAG))], columns=['Group'])
df_NL_LAAG = pd.concat([df_NL_LAAG, df_new], axis=1)
df_NL_LAAG

     State  Income  Occupation  Time employed  Fraud  Gender  Group
0        0       1           1              0      0       0      4
1        0       1           0              0      0       0      4
2        0       1           0              1      1       1      4
3        0       1           0              0      0       1      4
4        0       1           1              1      1       0      4
..     ...     ...         ...            ...    ...     ...    ...
995      0       1           1              0      1       0      4
996      0       1           0              1      0       0      4
997      0       1           0              0      0       1      4
998      0       1           0              0      0       1      4
999      0       1           0              1      0       1      4

[1000 rows x 7 columns]

In [82]:
merged_df = pd.concat([df_ZN_LAAG, df_ZN_HOOG, df_NL_HOOG,df_NL_LAAG ], ignore_index=True)

In [83]:
merged_df.head(10000)

      State  Income  Occupation  Time employed  Fraud  Gender  Group
0         1       1           1              0      1       0      2
1         1       1           1              1      1       1      2
2         1       1           0              1      0       1      2
3         1       1           1              0      1       1      2
4         1       1           1              1      1       0      2
...     ...     ...         ...            ...    ...     ...    ...
9995      0       1           1              0      1       0      4
9996      0       1           0              1      0       0      4
9997      0       1           0              0      0       1      4
9998      0       1           0              0      0       1      4
9999      0       1           0              1      0       1      4

[10000 rows x 7 columns]

In [84]:
## safe dataframe as csv
merged_df.to_csv('synthetical_data.csv', index=False)

# Calculate the fairness and unfairness on all the datapoints of the total dataset

In [85]:
S = merged_df['Gender']
merged_df = merged_df.drop("Gender", axis=1)
merged_df = merged_df.drop("Group", axis=1)
y = merged_df['Fraud']
merged_df = merged_df.drop("Fraud", axis=1)

In [86]:
merged_df

      State  Income  Occupation  Time employed
0         1       1           1              0
1         1       1           1              1
2         1       1           0              1
3         1       1           1              0
4         1       1           1              1
...     ...     ...         ...            ...
9995      0       1           1              0
9996      0       1           0              1
9997      0       1           0              0
9998      0       1           0              0
9999      0       1           0              1

[10000 rows x 4 columns]

In [87]:
import fairlearn
from fairlearn.metrics import demographic_parity_difference, demographic_parity_ratio, equalized_odds_difference, equalized_odds_ratio

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

def evaluate_fairness(X, y, S, num_splits=30):
    accuracy_scores = []
    dpd_scores = []
    dpr_scores = []
    eod_scores = []
    eor_scores = []

    for _ in range(num_splits):
        # Split the dataset into training and testing sets
        X_train, X_test, y_train, y_test, S_train, S_test = train_test_split(
            X, y, S, test_size=0.3, random_state=None)  # Remove random_state
        
        # Initialize the Logistic Regression model
        model = LogisticRegression()

        # Train the model on the training data
        model.fit(X_train, y_train)

        # Make predictions on the test data
        y_pred = model.predict(X_test)

        # Calculate the accuracy of the model
        accuracy = accuracy_score(y_test, y_pred)
        accuracy_scores.append(accuracy)

        # Calculate the fairness metrics for the current split
        dpd = demographic_parity_difference(y_test, y_pred, sensitive_features=S_test)
        dpr = demographic_parity_ratio(y_test, y_pred, sensitive_features=S_test)
        eod = equalized_odds_difference(y_test, y_pred, sensitive_features=S_test)
        eor = equalized_odds_ratio(y_test, y_pred, sensitive_features=S_test)

        dpd_scores.append(dpd)
        dpr_scores.append(dpr)
        eod_scores.append(eod)
        eor_scores.append(eor)

    # Calculate mean and standard deviation of the metrics
    mean_accuracy = np.mean(accuracy_scores)
    std_accuracy = np.std(accuracy_scores)

    mean_dpd = np.mean(dpd_scores)
    std_dpd = np.std(dpd_scores)

    mean_dpr = np.mean(dpr_scores)
    std_dpr = np.std(dpr_scores)

    mean_eod = np.mean(eod_scores)
    std_eod = np.std(eod_scores)

    mean_eor = np.mean(eor_scores)
    std_eor = np.std(eor_scores)

    results = {
        "Mean Accuracy": mean_accuracy,
        "Accuracy Standard Deviation": std_accuracy,
        "Mean Demographic Parity Difference": mean_dpd,
        "Demographic Parity Difference Standard Deviation": std_dpd,
        "Mean Demographic Parity Ratio": mean_dpr,
        "Demographic Parity Ratio Standard Deviation": std_dpr,
        "Mean Equalized Odds Difference": mean_eod,
        "Equalized Odds Difference Standard Deviation": std_eod,
        "Mean Equalized Odds Ratio": mean_eor,
        "Equalized Odds Ratio Standard Deviation": std_eor
    }

    return results

# Example usage
# X = ...  # Features
# y = ...  # Target labels
# S = ...  # Sensitive features
results = evaluate_fairness(merged_df.values, y.values, S.values)
for metric, value in results.items():
    print(metric + ":", value)
    print("\n")

Mean Accuracy: 0.8329111111111113


Accuracy Standard Deviation: 0.004799639904188287


Mean Demographic Parity Difference: 0.12594723340052302


Demographic Parity Difference Standard Deviation: 0.017565104161485583


Mean Demographic Parity Ratio: 0.7890406530454871


Demographic Parity Ratio Standard Deviation: 0.02679923667817333


Mean Equalized Odds Difference: 0.10832713308238583


Equalized Odds Difference Standard Deviation: 0.02021639880075085


Mean Equalized Odds Ratio: 0.5752013233873049


Equalized Odds Ratio Standard Deviation: 0.06498870370047807

# Calculate the fairness and unfairness on all the datapoints every profile

In [88]:
### PROFILE 2
## df_ZN_LAAG, df_ZN_HOOG, df_NL_HOOG,df_NL_LAAG

S = df_ZN_LAAG['Gender']
df_ZN_LAAG = df_ZN_LAAG.drop("Gender", axis=1)
df_ZN_LAAG = df_ZN_LAAG.drop("Group", axis=1)
y = df_ZN_LAAG['Fraud']
df_ZN_LAAG = df_ZN_LAAG.drop("Fraud", axis=1)

results = evaluate_fairness(df_ZN_LAAG.values, y.values, S.values)
for metric, value in results.items():
    print(metric + ":", value)

Mean Accuracy: 0.8390444444444447
Accuracy Standard Deviation: 0.007813916044507853
Mean Demographic Parity Difference: 0.019986512427796897
Demographic Parity Difference Standard Deviation: 0.016309013993611246
Mean Demographic Parity Ratio: 0.9620637317737941
Demographic Parity Ratio Standard Deviation: 0.030339730969068356
Mean Equalized Odds Difference: 0.026816853813391408
Equalized Odds Difference Standard Deviation: 0.01259239140544622
Mean Equalized Odds Ratio: 0.9112076913571899
Equalized Odds Ratio Standard Deviation: 0.06875368697175284

In [89]:
### PROFILE 1
## df_ZN_LAAG, df_ZN_HOOG, df_NL_HOOG,df_NL_LAAG

S = df_ZN_HOOG['Gender']
df_ZN_HOOG = df_ZN_HOOG.drop("Gender", axis=1)
df_ZN_HOOG = df_ZN_HOOG.drop("Group", axis=1)
y = df_ZN_HOOG['Fraud']
df_ZN_HOOG = df_ZN_HOOG.drop("Fraud", axis=1)

results = evaluate_fairness(df_ZN_HOOG.values, y.values, S.values)
for metric, value in results.items():
    print(metric + ":", value)

Mean Accuracy: 0.8446111111111111
Accuracy Standard Deviation: 0.01031614460475292
Mean Demographic Parity Difference: 0.02887142667858123
Demographic Parity Difference Standard Deviation: 0.021107273095306057
Mean Demographic Parity Ratio: 0.9446854074027108
Demographic Parity Ratio Standard Deviation: 0.03893547419104939
Mean Equalized Odds Difference: 0.04236414029696792
Equalized Odds Difference Standard Deviation: 0.022317164552745707
Mean Equalized Odds Ratio: 0.8213035849707713
Equalized Odds Ratio Standard Deviation: 0.1165520664085007

In [91]:
### PROFILE 3
## df_ZN_LAAG, df_ZN_HOOG, df_NL_HOOG,df_NL_LAAG

S = df_NL_HOOG['Gender']
df_NL_HOOG = df_NL_HOOG.drop("Gender", axis=1)
df_NL_HOOG = df_NL_HOOG.drop("Group", axis=1)
y = df_NL_HOOG['Fraud']
df_NL_HOOG = df_NL_HOOG.drop("Fraud", axis=1)

results = evaluate_fairness(df_NL_HOOG.values, y.values, S.values)
for metric, value in results.items():
    print(metric + ":", value)

Mean Accuracy: 0.8130000000000003
Accuracy Standard Deviation: 0.013920408678547401
Mean Demographic Parity Difference: 0.6466909504776851
Demographic Parity Difference Standard Deviation: 0.021542571005508545
Mean Demographic Parity Ratio: 0.3294030459579235
Demographic Parity Ratio Standard Deviation: 0.022210469430667606
Mean Equalized Odds Difference: 0.7864539185916015
Equalized Odds Difference Standard Deviation: 0.027109792130735635
Mean Equalized Odds Ratio: 0.11025993196310235
Equalized Odds Ratio Standard Deviation: 0.018813782446738245

In [92]:
### PROFILE 4
## df_ZN_LAAG, df_ZN_HOOG, df_NL_HOOG,df_NL_LAAG

S = df_NL_LAAG['Gender']
df_NL_LAAG = df_NL_LAAG.drop("Gender", axis=1)
df_NL_LAAG = df_NL_LAAG.drop("Group", axis=1)
y = df_NL_LAAG['Fraud']
df_NL_LAAG = df_NL_LAAG.drop("Fraud", axis=1)

results = evaluate_fairness(df_NL_LAAG.values, y.values, S.values)
for metric, value in results.items():
    print(metric + ":", value)

Mean Accuracy: 0.8328888888888889
Accuracy Standard Deviation: 0.018068456929203128
Mean Demographic Parity Difference: 0.0510510026624949
Demographic Parity Difference Standard Deviation: 0.0401602354502465
Mean Demographic Parity Ratio: 0.9066648539995567
Demographic Parity Ratio Standard Deviation: 0.069151225244153
Mean Equalized Odds Difference: 0.06023433140493891
Equalized Odds Difference Standard Deviation: 0.029632503229761898
Mean Equalized Odds Ratio: 0.7610908526326033
Equalized Odds Ratio Standard Deviation: 0.15074751693881092